<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="UI Suite" verbose="1" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="seleniumtestng.base.AllureListener"/>
    </listeners>
    <test name="Functional">
        <packages>
            <package name="seleniumtestng.functionality"/>
        </packages>
    </test>

    <test name="Validation">
        <packages>
            <package name="seleniumtestng.validation"/>
        </packages>
    </test>

    <test name="E2E">
        <packages>
            <package name="seleniumtestng.e2e"/>
        </packages>
    </test>

    <test name="BDD">
        <classes>
            <class name="cucumbertests.runners.ContactFormCucumberTest"/>
        </classes>
    </test>

</suite>
